@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Book Italic'), local('Axiforma-BookItalic'),
        url('/assets/fonts/axiforma/Axiforma-BookItalic.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-BookItalic.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Bold'), local('Axiforma-Bold'),
        url('/assets/fonts/axiforma/Axiforma-Bold.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-Bold.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Bold Italic'), local('Axiforma-BoldItalic'),
        url('/assets/fonts/axiforma/Axiforma-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-BoldItalic.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Thin'), local('Axiforma-Thin'),
        url('/assets/fonts/axiforma/Axiforma-Thin.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-Thin.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Light'), local('Axiforma-Light'),
        url('/assets/fonts/axiforma/Axiforma-Light.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-Light.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Light Italic'), local('Axiforma-LightItalic'),
        url('/assets/fonts/axiforma/Axiforma-LightItalic.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-LightItalic.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Heavy Italic'), local('Axiforma-HeavyItalic'),
        url('/assets/fonts/axiforma/Axiforma-HeavyItalic.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-HeavyItalic.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Regular'), local('Axiforma-Regular'),
        url('/assets/fonts/axiforma/Axiforma-Regular.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-Regular.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma SemiBold'), local('Axiforma-SemiBold'),
        url('/assets/fonts/axiforma/Axiforma-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-SemiBold.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Book'), local('Axiforma-Book'),
        url('/assets/fonts/axiforma/Axiforma-Book.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-Book.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Heavy'), local('Axiforma-Heavy'),
        url('/assets/fonts/axiforma/Axiforma-Heavy.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-Heavy.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma ExtraBold Italic'), local('Axiforma-ExtraBoldItalic'),
        url('/assets/fonts/axiforma/Axiforma-ExtraBoldItalic.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-ExtraBoldItalic.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma SemiBold Italic'), local('Axiforma-SemiBoldItalic'),
        url('/assets/fonts/axiforma/Axiforma-SemiBoldItalic.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-SemiBoldItalic.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Medium'), local('Axiforma-Medium'),
        url('/assets/fonts/axiforma/Axiforma-Medium.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-Medium.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Medium Italic'), local('Axiforma-MediumItalic'),
        url('/assets/fonts/axiforma/Axiforma-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-MediumItalic.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Thin Italic'), local('Axiforma-ThinItalic'),
        url('/assets/fonts/axiforma/Axiforma-ThinItalic.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-ThinItalic.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma ExtraBold'), local('Axiforma-ExtraBold'),
        url('/assets/fonts/axiforma/Axiforma-ExtraBold.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-ExtraBold.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Italic'), local('Axiforma-Italic'),
        url('/assets/fonts/axiforma/Axiforma-Italic.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-Italic.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Black Italic'), local('Axiforma-BlackItalic'),
        url('/assets/fonts/axiforma/Axiforma-BlackItalic.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-BlackItalic.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: local('Axiforma Black'), local('Axiforma-Black'),
        url('/assets/fonts/axiforma/Axiforma-Black.woff2') format('woff2'),
        url('/assets/fonts/axiforma/Axiforma-Black.woff') format('woff'),
        url('/assets/fonts/axiforma/Axiforma-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
