# environment variables
/*.env.*

# automation
/.fsw.json
/*.bat
/act

# generated
/logs
/data
/tmp
/build
/cert
/static
*.mst
*.exe
*.myst
myst.exe
/myst
/mystd
mystd.exe
builder.exe
/builder
/cmd/client/static/

/.idea
/.vscode
