# environment variables
/*.env.*

# automation
/.fsw.json
/*.bat
/act

# generated
/logs
/data
/tmp
/build
/cert
/static
*.mst
*.exe
*.myst
myst.exe
mystd
builder.exe
builder
cmd/client/static/*
!cmd/client/static/.gitkeep

.idea
.vscode
