// main: main.less
#system-bar {
    position: fixed;
    height: 24px;
    width: 100vw;
    background-color: #070707;
    //background-color: #f8f8f9;
    z-index: 1000;
    pointer-events: none;
    backface-visibility: hidden;
    .title {
        position: absolute;
        height: 24px;
        img {
            height: 12px;
            padding: 6px;
            opacity: .75;

        }
    }
    .option {
        top: 0;
        width: 32px;
        height: 24px;
        background-color: transparent;
        float: right;
        border: none;
        padding: 0;
        pointer-events: all;
        &:hover {
            background-color: #303235;
            //background-color: #eaecef;
        }
        &:active {
            background-color: #28292c;
            //background-color: #e0e2e5;
        }
        &.close:hover  {
            background-color: #f75c4c;
            img {
                filter: invert(0);
            }
        }
        &.close:active  {
            background-color: #e45849;
            img {
                filter: invert(0);
            }
        }
        img {
            height: 10px;
            width: 10px;
            margin: 0 3px;
            filter: invert(0);
        }
        &.close {
            background-image: url('/assets/images/bar/close.svg');
        }
    }
}
