// main: main.less
#login {
    display: block;
    // display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    // z-index: 1;
    height: 100%;

    // transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;

    text-align: center;
    transition: .3s ease;
    background-image: linear-gradient(to bottom, #10121a, #0a0b0c);
    &.show {
        opacity: 1;
        pointer-events: all;
        & ~ main {
            opacity: 0;
            // transform: translateZ(0) scale(.98);
            transform: scale(.98);
            pointer-events: none;
        }
        // & ~ main {
        //
        // }
        // & ~ main {
        //     opacity: 1;
        //     width: 100%;
        //     height: 100%;
        //     transform: scale(100%);
        //     transition: .3s ease;
        // }
    }
    form {
        position: absolute;
        width: 300px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .logo {
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s cubic-bezier(0, 0, 0, 1);
            pointer-events: none;
            &.click {
                animation: click 1s ease;
            }
            @keyframes click {
                0% {
                    transform: translateY(0);
                }
                30% {
                    transform: translateY(5px);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }
        .field {
            display: block;
            text-align: center;
            width: 270px;
            height: 30px;
            padding: 10px 13px;
            margin: 20px 2px;
            border: 0;
            background-color: transparent !important;
            color: #fff;
            font-weight: 400;
            border-radius: 2px;
            transition: background-color 0s ease;
            caret-color: #667;
            font-size: 1.2rem;
            letter-spacing: .1rem;
            &::placeholder {
                font-size: 1rem;
                font-family: Consolas;
            }
            &:focus {
                &::placeholder {
                    opacity: 0;
                }
            }
            &::selection {
                background: #7f7f7f;
            }
        }
    }
}
