// main: main.less
#preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    // background-color: #0a0b0c;
    overflow: hidden;
    pointer-events: none;
    z-index: 999999;
    display: none;
    &.loaded {
        opacity: 1;
        transition: .3s ease 1s;
        .logo {
            animation: loaded 1.2s cubic-bezier(1,0,.75,0);
            opacity: 0;
        }
    }
    &.hide {
        .glow {
            opacity: 0;
            animation: fade_out 1s ease;
        }
    }
    &.pulse {
        .black {
            animation: pulse 1s ease-out 1s;
        }
    }
    .logo, .glow img, .black {
        position: absolute;
        display: block;
        width: 300px;
        left: calc(50% - 150px);
        top: calc(50% - 166.5px);
        pointer-events: none;
    }
    .logo {
        animation: zoom .5s ease-out;
        @keyframes zoom {
            0% {transform: scale(0);opacity:0}
            100% {transform: scale(1);opacity:1}
        }
        @keyframes loaded {
            0% {transform: translateX(0.0001%) scale(1) rotate(0deg); opacity: 1}
            10% {
                opacity: 1;
            }
            80% {
                opacity: 0;
            }
            100% {transform: scale(1000) rotate(0deg)}
        }
    }
    .glow img {
        transform: scale(1);
        animation: fade_in .5s ease-in, loading 1s cubic-bezier(.5,0,.5,1) .5s infinite alternate;
        opacity: 0;
        filter: blur(50px);
        @keyframes loading {
            0% {opacity:.3}
            100% {opacity:.1}
        }
        @keyframes fade_in {
            0% {opacity:0}
            100% {opacity:.3}
        }
    }
    .glow {
        @keyframes fade_out {
            0% {opacity:1}
            100% {opacity:0}
        }
    }
    .black {
        transform: scale(1);
        filter: invert(100%);
        opacity: 0;
        @keyframes pulse {
            0% {opacity:1;transform:scale(1)}
            100% {opacity:0;transform:scale(2)}
        }
    }
}
