@use '@/styles/variables' as *;

#sites-pageOLD {
    #search {
        // position: relative;
        height: 100%;
        width: 100%;
        // display: block;
        input {
            height: 60px;
            width: 100%;
            padding: 0 20px;
            padding-left: 60px;
            font-size: 1.2rem;
            // line-height: 70px;
            // background: #fff;
            // padding-top: 1px;
            transition: box-shadow .1s ease, background-color .1s ease;
            color: #333;
            // font-weight: 500 !important;
            //font-family: 'Assistant';
            //font-weight: 400;
            // background-color: #fff;
            background-color: transparent;
            &:focus {
                // background-color: #fafbfc;
                // box-shadow: 0 1px 0 0 #e5e6e7;
                & + img {
                    // opacity: .75;
                }
                &::placeholder {
                    opacity: 0;
                }
            }
            &::placeholder {
                // opacity: .5;
                //font-weight: 300;
            }
            // &:valid ~ img {
            //     opacity: 1;
            // }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            // opacity: .5;
            height: 20px;
            width: 20px;
            padding: 20px;
            opacity: .75;
        }

        // input {
        //     // display: block;
        //     background: #f00;
        //     width: 100%;
        //     height: 100%;
        //     // border: none;
        //     // margin: 0;
        //     // padding: 0;
        //     // &:focus {
        //     //     box-shadow: none;
        //     //     border: none;
        //     // }
        // }
    }
    #sites-list {
        padding: 10px;
        position: relative;
        // height: calc(100vh - 60px);
        height: calc(100vh);
        // height: calc(100%);
        // background: #f00;
        // top: 60px;
        // margin-top: 2px;
        // overflow: auto;
        // margin: 30px;
        box-sizing: border-box;
        // border-radius: 15px;
        // overflow: hidden;
        .header {
            height: 50px;
            //background: #1f2022;
            font-size: .9rem;
            // line-height: 50px;
            // padding: 0 30px;
            //font-family: 'Axiforma';
            //font-weight: 400;
            // background: #ddd;
            color: rgba(#f6f6f6, .5);
            //box-shadow: inset 0 -1px 0 0 #121315;
            text-transform: uppercase;
        }
        .entries {
            height: calc(100% - 60px);
            box-sizing: border-box;
            // overflow: auto;
        }
        .row {
            padding: 0 15px;
        }
        .col {
            width: calc(33.3333% - 20px);
            display: block;
            float: left;
            height: 100%;
            line-height: 50px;
            // font-size: 1.1rem;
            // font-weight: 500;
            // padding-left: 10px;
            box-sizing: border-box;
            &.icon {
                width: 60px;
            }
            .label {
                padding: 0 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .entry {
            border-radius: 5px;
            // margin: 2px;
            // margin-bottom: 2px;
            position: relative;
            display: block;
            //font-weight: 500;
            // width: calc(33.3333% - 6.6666px);
            // width: 100%;
            // margin-right: 10px;
            font-size: 1rem;
            height: 50px;
            color: #f6f6f6;
            background: transparent;
            font-family: 'Assistant';
            // transition: .15s ease;
            &.card2 {
                width: calc(33.3333% - 2px);
                display: inline-block;
                height: 180px;
                margin: 1px;
                &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                    margin-top: 0;
                }
                .icon {
                    height: 30px;
                    width: 30px;
                }
            }


            // border-radius: 3px;
            // margin-bottom: 10px;
            // box-shadow: 0 -1px #edeeef;
            // &:first-child {
            //     box-shadow: none;
            // }
            // font-size: 0;
            // box-shadow: inset 0 0 0 2px #dbe4f3;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                background: rgba(#fff, .05);
                //transition: 0s ease;
                // box-shadow: inset 0 0 0 2px #cdd8eb;
            }
            &:active {
                background: rgba(#fff, .06);
                // box-shadow: inset 0 0 0 2px #285deb;
            }
            .icon {
                img {
                    display: block;
                    height: 20px;
                    width: 20px;
                    padding: 15px;
                }
            }
            // background-color: rgba(#285deb, .2);
            &:focus {
                outline: 0;
            }
        }

    }
}
// #edit-site {
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100%;
//     pointer-events: none;
//     overflow: hidden;
//     &.show {
//         pointer-events: all;
//         .modal {
//             opacity: 1;
//             transform: translateX(0);
//         }
//         .overlay {
//             opacity: 1;
//         }
//     }
//     .modal {
//         position: absolute;
//         top: 0;
//         right: 0;
//         height: 100%;
//         width: calc(66.6666% - 45px);
//         background: #fff;
//         transform: translateX(25%);
//         transition: transform .25s ease, opacity .25s ease;
//         opacity: 0;
//         box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
//     }
//     .overlay {
//         position: absolute;
//         top: 0;
//         left: 0;
//         height: 100%;
//         width: 100%;
//         background: rgba(0,0,0,.1);
//         opacity: 0;
//         z-index: -1;
//         transition: transform .25s ease, opacity .25s ease;
//         cursor: default;
//     }
// }
#edit-site-page {
    font-size: 1rem;
}
.navigation-breadcrumbs {
    padding-left: 20px;
    .breadcrumb {
        position: relative;
        margin-left: 20px;
        display: inline-block;
        color: #4c7dff;
        height: 60px;
        line-height: 60px;
        //font-family: 'Assistant';
        //font-weight: 500;
        font-size: 1.2rem;

        font-size: 0.8rem;
        //font-weight: 700;
        text-transform: uppercase;
        //font-family: "Assistant", sans-serif;
        letter-spacing: 0.5px;
        padding: 0 5px;
        &:last-child {
            color: #999;
            pointer-events: none;
        }

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            left: -15px;
            height: 10px;
            width: 10px;
            margin: 25px 0;
            vertical-align: top;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNjcgMGwyLjgzIDIuODI5LTkuMzM5IDkuMTc1IDkuMzM5IDkuMTY3LTIuODMgMi44MjktMTIuMTctMTEuOTk2eiIvPjwvc3ZnPg==');
            background-size: 100%;
            opacity: .2;
            pointer-events: none;
        }
    }
}

// --------------------------------------------------

.entries-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#entries-list {
    width: 100%;
    overflow: auto;
}

//.modal {
//    position: fixed;
//    width: 100%;
//    height: 100%;
//    height: -webkit-fill-available;
//    top: 0;
//    right: 0;
//    z-index: 9999;
//    transition: .3s ease;
//    pointer-events: none;
//    opacity: 0;
//
//    &.show {
//        opacity: 1;
//        pointer-events: all;
//    }
//
//    .modal-content {
//        position: absolute;
//        display: flex;
//        flex-direction: column;
//        width: 600px;
//        height: auto;
//        max-height: calc(100% - 40px);
//        max-width: calc(100% - 40px);
//        top: 50%;
//        left: calc(50% - 300px);
//        background-color: $bg;
//        border-radius: 5px;
//        transform: translateY(-50%);
//        padding: 40px 30px 30px 30px;
//        box-sizing: border-box;
//        box-shadow: 0 20px 40px 0 rgba(#0a0b0c, .1);
//        font-size: 1.2rem;
//        line-height: 1.33;
//
//        .modal-header {
//            color: #333;
//            display: block;
//            font-size: 1.6rem;
//            margin-bottom: 40px;
//        }
//
//        .modal-content {
//            overflow: auto;
//        }
//
//        .modal-footer {
//            position: relative;
//            display: flex;
//            flex-direction: row;
//            justify-content: space-between;
//            width: 80%;
//            margin-left: auto;
//            margin-top: auto;
//            padding-top: 40px;
//        }
//    }
//
//    .modal-overlay {
//        position: absolute;
//        top: 0;
//        left: 0;
//        width: 100%;
//        height: 100%;
//        background: rgba(#1a1c1f, .5);
//        z-index: -1;
//    }
//}

#entry-container {
    position: absolute;
    //width: 30%;
    //background-color: #232429;
    //padding: 20px;
}


#header {
    height: 60px;
    border-bottom: 1px solid #303236;
    padding: 0 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #fff;

    .breadcrumb {
        position: relative;
        margin-right: 24px;
        display: inline-block;
        justify-self: flex-start;

        &:last-child {
            opacity: .75;
            pointer-events: none;
        }

        &:not(:first-child):before {
            content: '>';
            font-family: monospace;
            position: relative;
            left: -12px;
            top: -2px;
            opacity: .33;
        }
    }

    .create-entry-icon {
        cursor: default;
        font-weight: 300;
        display: flex;
        margin-left: auto;
        font-size: 14px;
        color: rgb(215, 216, 219);
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(#2d2f36, .5);

        &:hover {
            background-color: #2d2f36;
            color: #f7f8f8;
        }

        &:before {
            content: 'ï¼‹';
            position: relative;
            transform: scale(1.3);
            vertical-align: middle;
            top: -1px;
            font-size: 15px;
            padding-right: 8px;
        }
    }
}


$bg: #1f2023;

#entries {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: rgb(215, 216, 219);
    padding: 10px 20px;
    box-sizing: border-box;
    //max-width: 50%;
    background-color: $bg;

    .entry {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-basis: 30%;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 14px;
        box-sizing: border-box;
        border-radius: 5px;
        //transition: .25s ease;
        min-height: 20px;

        &.header {
            color: rgb(138, 143, 152);
            font-size: 14px;

            .name {
                flex-basis: calc(30% + 34px);
            }
        }

        .icon {
            flex-basis: 24px;
            padding-right: 10px;

            img {
                display: block;
                height: 20px;
                vertical-align: baseline;
            }
        }


        .name, .user, .pass {
            //flex-basis: 0;
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 20px;
            min-height: 20px;
            box-sizing: border-box;
            vertical-align: middle;
            display: inline-block;
            line-height: 1.3;
            flex-basis: 30%;
        }

        .user, .pass {
            flex-basis: 35%;
        }

        &:not(.header):hover {
            background-color: #2d2f36;
            color: #f7f8f8;
        }

        &:not(.header):active {
            background-color: rgba(#2d2f36, .75);
            color: rgb(215, 216, 219);
        }
    }
}

#entry {
    flex-basis: 100%;
}
