// main: main.less
#login {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0;
    height: 100%;
    opacity: 1;
    pointer-events: none;
    text-align: center;
    transition: .3s ease;
    background-image: linear-gradient(1deg, #22252b, #22252b);
    z-index: 0;
    &.show {
        z-index: 1;
        pointer-events: all;
    }
    .form {
        position: absolute;
        width: 400px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 40px;
        .logo {
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s cubic-bezier(0, 0, 0, 1);
            pointer-events: none;
            padding-bottom: 20px;
            &.submitting {
                animation: submitting 1s ease;
            }
            @keyframes submitting {
                0% {
                    transform: translateY(0);
                }
                30% {
                    transform: translateY(5px);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }
        .label {
            height: 40px;
            color: #fff;
            opacity: .9;
            line-height: 40px;
            font-size: 1.4em;
            text-transform: uppercase;
            font-family: 'Assistant', sans-serif;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 80px;
        }
        .master-password {
            position: relative;
            .field {
                display: block;
                width: 100%;
                height: 30px;
                padding: 10px 13px;
                margin: 0;
                border: 0;
                background-color: rgba(#def, .05);
                font-weight: 400;
                border-radius: 2px;
                caret-color: rgba(225,225,255,.5);
                font-size: 1em;
                letter-spacing: .1rem;
                color: #cacbcc;
                transition: background-color .15s ease;
                font-family: 'Hack', monospace;
                &::placeholder {
                    font-size: 1rem;
                    font-family: 'Hack', monospace;
                }
                &:focus {
                    background-color: rgba(#def, .075);
                }
                &::selection {
                    background: rgba(#fff, .05);
                    color: #fff;
                }
            }
        }

        .prompt {
            pointer-events: none;
            height: 50px;
            color: #dadbdc;
            text-align: right;
            width: 100%;
            line-height: 50px;
            font-family: 'Assistant', sans-serif;
            font-size: .8rem;
            font-weight: 400;
            letter-spacing: 1px;
            padding-top: 0px;
            font-size: 1em;
            &.enter-pressed {
                .code {
                    background-color: rgba(#fff, .1);
                }
            }
            .code {
                background-color: rgba(#fff, .05);
                color: #cacbcc;
                padding: 4px 8px;
                border-radius: 2px;
                margin: 0 1px;
                font-family: 'Hack', monospace;
                font-size: 1em;
                text-transform: uppercase;
            }
        }
    }
}
