// main: main.less
$bg: #1f2023;

#login {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 100%;
    opacity: 1;
    pointer-events: none;
    text-align: center;
    transition: .3s ease;
    //background-image: linear-gradient(1deg, #22252b, #22252b);
    background-color: #1f2023;
    z-index: 0;
    &.show {
        z-index: 1;
        pointer-events: all;
    }
    .form {
        display: flex;
        flex-direction: column;
        width: 600px;
        max-width: 100%;
        height: auto;
        .logo {
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s cubic-bezier(0, 0, 0, 1);
            pointer-events: none;
            padding-bottom: 20px;
            opacity: .95;
            &.submitting {
                animation: submitting 1s ease;
            }
            @keyframes submitting {
                0% {
                    transform: translateY(0);
                }
                30% {
                    transform: translateY(5px);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }
        .label {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            color: #cacbcf;
            font-size: 1.8rem;
            text-transform: uppercase;
            //font-weight: 600;
            letter-spacing: 1px;
        }
        .master-password {
            position: relative;
            margin-top: 60px;

            .field {
                display: block;
                width: 100%;
                height: 50px;
                padding: 10px 120px 10px 16px;
                margin: 0;
                border: 0;
                background-color: rgba(#ddf, .05);
                //font-weight: 400;
                border-radius: 2px;
                caret-color: rgba(#fff, .5);
                line-height: 1.4;
                font-size: 1.1rem;
                color: #cacbcf;
                transition: background-color .15s ease;
                &::placeholder {
                    font-size: 1.1rem;
                    color: rgba(#cacbcf, .33);
                }
                &::selection {
                    background: rgba(#aad, .05);
                    color: #fff;
                }
            }
        }

        .prompt {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            pointer-events: none;
            height: 36px;
            margin: 7px;
            padding: 0 16px;
            border-radius: 2px;
            background-color: rgba(#acf, .06);
            &.enter-pressed {
                background-color: rgba(#acf, .05);
                span {
                    transform: translateY(1px);
                }
            }
            span {
                text-transform: uppercase;
                color: #cacbcf;
                //font-weight: 700;
                font-size: .9sdarem;
                letter-spacing: 1px;
            }
        }
    }
}
