@use '@/styles/variables' as *;

#navigation {
    position: absolute;
    width: 70px;
    height: 100%;
    // background-color: #0a0b0c;
    // background-image: linear-gradient(to bottom, #1f212a, #10121a);
    // background: #f2f3f5;
    // background: #fff;
    // z-index: 1;
    height: 100%;
    // height: 100vh;



    // &:hover {
    //     &:after {
    //         transform: translateX(0);
    //         transition: transform .3s cubic-bezier(.42,.36,.19,1);
    //     }
    //     .list {
    //         width: $nav-width;
    //         transition: width .3s cubic-bezier(.42,.36,.19,1);
    //     }
    //     .list .item span {
    //         opacity: 1;
    //         transition: opacity .3s ease;
    //     }
    //     .logo-container {
    //         .logo {
    //             opacity: 0;
    //         }
    //         .label {
    //             opacity: 1;
    //         }
    //     }
    // }
    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        width: $nav-width;
        transform: translateX(-$nav-width + 70px);
        background: #f2f3f5;
        background: #fff;
        background: #0a0b0c;
        background: #fff;
        background: #efeff7;
        box-shadow: 2px 0 0 0 #edeeef;
        // border-right: 1px solid #f2f3f5;
        // background: #fff;
        will-change: transform;
        transition: transform .3s cubic-bezier(.42,.36,.19,1);
        z-index: -1;
    }
    // .logo-container {
    //     // display: none;
    //     position: relative;
    //     width: 100%;
    //     height: 60px;
    //     // padding: 10px;
    //     // margin-bo    ttom: 10px;
    //     pointer-events: none;
    //     margin-top: 9px;
    //     margin-bottom: 7px;
    //     .logo {
    //         position: absolute;
    //         height: 40px;
    //         width: 40px;
    //         top: 0;
    //         left: 0;
    //         margin: 10px 20px;
    //         transform: translateY(-6px);
    //         z-index: 2;
    //         // clip-path: polygon(50% 102%, 5% 24%, 95% 24%);
    //         // background-color: #17181f;
    //         opacity: 1;
    //         transition: opacity .3s ease;
    //         // filter: invert(100%);
    //     }
    //     .label {
    //         position: absolute;
    //         height: 30px;
    //         color: #747f8d;
    //         margin: 14px 22px;
    //         transform: translateX(0.6px);
    //         left: 0;
    //         top: 0;
    //         z-index: 1;
    //         opacity: 0;
    //         transition: opacity .3s ease;
    //
    //         // filter: invert(100%);
    //     }
    // }
    //
    // & > span {
    //     position: absolute;
    //     color: #747f8d;
    //     font-size: 2rem;
    //     font-family: Source Code Pro;
    //     font-weight: 400;
    //     line-height: 60px;
    //     padding-top: 20px;
    //     top: 0;
    //     left: 100px;
    //     letter-spacing: -1px;
    // }
    .list {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: $nav-width;
        // will-change: width;
        // transition: width .3s cubic-bezier(.42,.36,.19,1);
        overflow: hidden;
        .item {
            position: relative;
            width: 100%;
            height: 60px;
            background-color: transparent;
            border: none;
            display: block;
            transition: box-shadow 0s;
            box-shadow: inset 4px 0 0 0 transparent;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:hover {
                &:after {
                    opacity: .03;
                }
            }
            &:active {
                // &:before {
                //     opacity: 1;
                //     transition: none;
                //     transform: scaleX(1);
                // }
            }
            &.click {
                &:before {
                    //transition: opacity 0.5s ease;
                    // animation: click .5s ease !important;
                    // @keyframes click {
                    //     0% {
                    //         opacity: 1;
                    //     }
                    //     100% {
                    //         opacity: 0;
                    //     }
                    // }
                }
            }
            &.active {
                // transition: box-shadow .5s ease;
                // box-shadow: inset 4px 0 0 0 #4c7dff;
                // img {
                //     filter: none;
                // }
                img {
                    filter: invert(52%) sepia(9%) saturate(184%) hue-rotate(174deg) brightness(93%) contrast(94%);
                    filter: invert(32%) sepia(26%) saturate(7143%) hue-rotate(218deg) brightness(92%) contrast(101%);
                }
                span {
                    color: #444f6d;
                }
            }
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: #fff;
                opacity: 0;
                pointer-events: none;
            }
            img {
                position: absolute;
                height: 60px;
                width: 60px;
                padding: 18px;
                box-sizing: border-box;
                top: 0;
                left: 0;
                filter: invert(82%) sepia(9%) saturate(184%) hue-rotate(174deg) brightness(93%) contrast(94%);
                pointer-events: none;
            }
            span {
                position: absolute;
                white-space: nowrap;
                left: 70px;
                top: 0;
                color: #747f8d;
                line-height: 61px;
                font-size: 1.1rem;
                font-weight: 600;
                font-family: 'Assistant', sans-serif;
                will-change: opacity;
                transition: opacity .3s cubic-bezier(.32,.46,.19,1);
                opacity: 0;
            }
        }
    }

    width: $nav-width;
    &:after {
        transform: translateX(0);
        transition: transform .3s cubic-bezier(.42,.36,.19,1);
    }
    .list {
        width: $nav-width;
        transition: width .3s cubic-bezier(.42,.36,.19,1);
    }
    .list .item span {
        opacity: 1;
        transition: opacity .3s ease;
    }
    .logo-container {
        .logo {
            opacity: 0;
        }
        .label {
            opacity: 1;
        }
    }
}
