.field {
    position: relative;
    min-height: 40px;
    // width: auto;
    display: inline-block;
    // outline: 1px solid #f00;
    width: unset;
    &.checkbox {
        input[type='checkbox'] {
            &:hover ~ label:after {
                box-shadow: 0 0 0 2px #cdd8eb;
            }
            &:checked ~ label {
                &:before {
                    // background: #4c7dff;
                    border-right: 2px solid #fff;
                    border-top: 2px solid #fff;
                    // transform: scale(.66) translateX(30px);
                    animation: reveal .15s linear;
                    clip-path: none;
                    opacity: 1;
                    z-index: 1;
                    @keyframes reveal {
                        0% {
                            clip-path: polygon(80% 100%, 100% 100%, 100% 100%, 80% 100%);
                        }
                        50% {
                            clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);
                        }
                        100% {
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }
                    }
                }
                &:after {
                    box-shadow: 0 0 0 2px #4c7dff;
                    // box-shadow: 0 0 0 2px #dbe4f3;
                    background: #4c7dff;
                }
            }
            &:checked:hover ~ label:after {
                background: #3b72f2;
                box-shadow: 0 0 0 2px #3b72f2;
                background: #5f8bff;
                box-shadow: 0 0 0 2px #5f8bff;
            }
        }
        label {
            padding-left: 40px;
            pointer-events: none;
            display: inline-block;
            position: relative;
            white-space: nowrap;
            &:before {
                content: '';
                position: absolute;
                width: 8px;
                height: 4px;
                top: 0;
                left: -1px;
                margin: 16px;
                background: transparent;
                border-top: 2px solid transparent;
                border-right: 2px solid transparent;
                transform: translateX(0) rotate(130deg);
                border-right: 2px solid #4c7dff;
                border-top: 2px solid #4c7dff;
                // clip-path: polygon(100% 80%, 100% 80%, 100% 100%, 100% 100%);
                opacity: 0;
                transition: opacity .15s ease;
            }
            &:after {
                content: '';
                position: absolute;
                width: 18px;
                height: 18px;
                top: 0;
                left: 0;
                margin: 11px;
                border-radius: 1px;
                background: transparent;

                transition: box-shadow .1s ease, background .1s ease;
                // box-shadow: 0 0 0 2px #667;
                // box-shadow: 0 0 0 2.1px #667;
                box-shadow: 0 0 0 2px #dbe4f3;

            }
        }
    }
    // &.toggle {
    //     input[type='checkbox'] {
    //         &:checked ~ label {
    //             &:before {
    //                 background: #4c7dff;
    //                 transform: scale(.66) translateX(30px);
    //             }
    //             &:after {
    //                 box-shadow: 0 0 0 2px #4c7dff;
    //             }
    //         }
    //     }
    //     label {
    //         padding-left: 60px;
    //         &:before {
    //             content: '';
    //             position: absolute;
    //             width: 20px;
    //             height: 20px;
    //             top: 0;
    //             left: 0;
    //             margin: 10px;
    //             border-radius: 50%;
    //             transition: transform .25s ease, background .25s ease;
    //             background: #e1e2e3;
    //             transform: scale(.66) translateX(0);
    //         }
    //         &:after {
    //             content: '';
    //             position: absolute;
    //             width: 40px;
    //             height: 20px;
    //             top: 0;
    //             left: 0;
    //             margin: 10px;
    //             border-radius: 10px;
    //             background: transparent;
    //             transition: transform .25s ease, box-shadow .25s ease;
    //             box-shadow: 0 0 0 2px #e1e2e3;
    //         }
    //     }
    // }
    &.toggle {
        input[type='checkbox'] {
            &:checked ~ label {
                &:before {
                    transform: rotate(90deg);
                }
                &:after {
                    transform: rotate(90deg) scaleX(0);
                }
            }
        }
        label {
            padding-left: 40px;
            &:before {
                content: '';
                position: absolute;
                width: 2px;
                height: 10px;
                top: 0;
                left: 0;
                margin: 15px 19px;
                background: #667;
                transition: transform .25s ease;
            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 2px;
                top: 0;
                left: 0;
                margin: 19px 15px;
                background: #667;
                transition: transform .25s ease;
            }
        }
    }
    &.radio {
        input[type='radio'] {
            &:checked ~ label {
                &:before {
                    background: #4c7dff;
                    transform: scale(.66);
                    animation: activate2 .25s ease;
                    @keyframes activate2 {
                        0% {
                            background: transparent;
                        }
                        50% {
                            background: transparent;
                            transform: scale(.8);
                        }
                        100% {
                            background: #4c7dff;
                            transform: scale(.66);
                        }
                    }
                }
                &:after {
                    box-shadow: 0 0 0 2px #4c7dff;
                }
            }
        }
        label {
            &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                left: 0;
                margin: 10px;
                border-radius: 50%;
                transition: box-shadow .1s ease, background .25s ease;
                animation: deactivate .5s ease;
                @keyframes deactivate {
                    0% {
                        background: #4c7dff;
                        transform: scale(.66);
                    }
                    50% {
                        background: transparent;
                        transform: scale(.8);
                    }
                    100% {
                        background: transparent;
                        transform: scale(1);
                    }
                }
            }
            &:after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                left: 0;
                margin: 10px;
                border-radius: 50%;
                background: transparent;
                transition: transform .25s ease, box-shadow .25s ease;
                box-shadow: 0 0 0 2px #e1e2e3;
                animation: toggle2 .5s ease;
                @keyframes toggle2 {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(.95);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    &.input {
        display: block;
        // height: 40px;
        input[type='text'] {
            display: block;
            width: 100%;
            height: 100%;
            outline: 0;
            border: none;
            padding: 0 10px;
            padding-top: 2px;
            margin: 0;
            background-color: transparent;
            font-size: .9rem;
            box-sizing: border-box;
            box-shadow: inset 0 0 0 2px #dbe4f3;
            border-radius: 3px;
            transition: box-shadow .1s ease;
            color: #334;
            line-height: 38px;
            &:hover {
                box-shadow: inset 0 0 0 2px #cdd8eb;
            }
            &:focus {
                outline: none;
                // background-color: #fafbfc;
                box-shadow: inset 0 0 0 2px #4c7dff;
            }
        }
    }
    input[type='radio'], input[type='checkbox'] {
        // display: inline;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
        // &:hover ~ label {
        //     &:after {
        //         box-shadow: 0 0 0 2px #d1d2d3;
        //     }
        // }
        &:focus ~ label {
            // background-color: #f1f5ff;
            background-color: #f6f7f8;
        }
    }
    label {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        padding-left: 40px;
        pointer-events: none;
        border-radius: 5px;
        font-family: 'Assistant', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #445;
        transition: background-color .1s ease;
    }
}
