// Misc

@use '@/styles/misc/Reset';
@use '@/styles/fonts/axiforma';
@use '@/styles/misc/migrate';
// @use '@/styles/misc/simplebar';
// @/styles/Components
@use '@/styles/components/SystemBar';
@use '@/styles/components/Preloader';
@use '@/styles/components/Login';
@use '@/styles/components/Navigation';
@use '@/styles/components/Search';
@use '@/styles/components/Sites';
@use '@/styles/components/Authenticator';
@use '@/styles/components/Generator';
@use '@/styles/components/entries';
// @use 'components/Button';
// @use 'components/Header';
@use '@/styles/variables' as *;

html, body {
    position: relative;
    width: 100%;
    //margin: 0;
    ////width: 100%;
    ////height: 100%;
    ////height: -webkit-fill-available;
    //background-color: #f9fafc;
    //user-select: none;
}
.hidden {
    display: none;
}

@import url('https://rsms.me/inter/inter.css');
* {
    //font-family: 'Hack', monospace;
    font-family: 'Inter', sans-serif;

}

:root {
    color-scheme: dark;
}

#app {
    position: relative;
    width: 100%;
    //height: 100%;
    //width: 100%;
    // top: 24px;
    // overflow: hidden;
    // top: 0;
    //background-color: #0a0b0c;
    //background: #f5f7fb;
    //background: #fff;

    // overflow: hidden;
    // cursor: default;
    // &.animate {
    //     transition: .3s ease;
    // }
    main {
        position: relative;
        width: 100%;
        height: 100vh;
        //backface-visibility: hidden;
        // box-sizing: border-box;
        // padding: 40px;
        // max-height: calc(100vh - 84px);
        // max-height: calc(100vh - 60px);
        //height: 100vh;
        //width: 100vw;
        // TODO
        // overflow: hidden;
        // overflow-y: auto;
        // backface-visibility: hidden;
        // transform-origin: 50% 50%;
        pointer-events: none;
        opacity: 0;
        overflow: hidden;
        transform: scale(.975);
        //transform: scale(1);
        transition: transform .3s ease, opacity .3s ease;
        // opacity: 0;
        // &.show {
        //     // transform: scale(1);
        //     opacity: 1;
        //     pointer-events: all;
        // }
        &.show {
            opacity: 1;
            transform: scale(1);
            pointer-events: all;
        }
        #container {
            position: relative;
            width: 100%;

            height: 100%;
            height: -webkit-fill-available;
            //position: absolute;
            //width: calc(100vw - #{$nav-width});
            //height: 100vh;
            //top: 0;
            //right: 0;
            background-color: $bg;
            //font-size: 16px;
            //color: #fff;
            //& > .container {
            //    padding: 30px;
            //}
        }
    }

    ::selection {
        background: rgba(#f1f2f6, .1);
    }

    // ::-webkit-scrollbar {
    //     width: 0;
    //     // position:fixed;
    // }
    // ::-webkit-scrollbar-button {
    //     width: 0;
    //     height: 0;
    //     display: none;
    // }
    // ::-webkit-scrollbar-thumb {
    //     background: #c6cbd2;
    //     background: #faa;
    //     border-radius: 7px;
    //     border: 4px solid #fff;
    //     // border: 4px solid #fff;
    //     background-clip: padding-box;
    //     border: 4px solid transparent;
    //     box-shadow: inset -1px -1px 0px transparent, inset 1px 1px 0px transparent;
    // }
    // ::-webkit-scrollbar-track {
    //   background: #fff;
    //   border: 4px solid #fff;
    // }
    // ::-webkit-scrollbar-track-piece {
    //     background: #f1f2f5;
    //     background-clip: padding-box;
    //     border: 4px solid rgba(0, 0, 0, 0);
    //     border-radius: 7px;
    //     border: 4px solid #fff;
    // }
    //
    // ::-webkit-scrollbar-corner {
    //     background-color: transparent;
    // }

}
.card {
    position: relative;
    // background: #00f;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        //box-shadow: inset 0 0 0 2px transparent, inset 0 0 0 1px #e5e6e8;
        transition: transform .2s ease, box-shadow .2s ease;
        //background-color: #fff;
        z-index: -1;
    }
    &:focus:after {
        box-shadow: inset 0 0 0 2px #4c7dff;
        transition: transform .1s ease, box-shadow .1s ease;
    }
}

.scroll-view {
  position: relative;
  overflow: hidden;
  height: 100%;
  &:hover {
    .scroll-overlay {
      opacity: 1;
      transition: opacity .25s ease;
    }
  }
  .scroll-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    // width: 50%;
    height: 100%;
    // z-index: 9999;
    opacity: .5;
    overflow-y: overlay;
    mix-blend-mode: multiply;
    pointer-events: all;
    transition: opacity 1s ease .5s;
    backface-visibility: hidden;
    transform: translateZ(0);

    // &::-webkit-scrollbar {
    //     width: 12px !important;
    // }
    // &::-webkit-scrollbar-button {
    //     width: 0;
    //     height: 0;
    //     display: none;
    // }
    // &::-webkit-scrollbar-thumb {
    //     background: #bfbfbf;
    //     border-radius: 7px;
    //     border: 4px solid #fff;
    //     // border: 4px solid #fff;
    //     background-clip: padding-box;
    //     border: 4px solid transparent;
    //     box-shadow: inset -1px -1px 0px transparent, inset 1px 1px 0px transparent;
    // }
    // &::-webkit-scrollbar-track {
    //   background: #fff;
    //   border: 4px solid #fff;
    // }
    // &::-webkit-scrollbar-track-piece {
    //     background: #fff;
    //     background-clip: padding-box;
    //     border: 4px solid rgba(0, 0, 0, 0);
    //     border-radius: 7px;
    //     border: 4px solid #fff;
    // }
    //
    // &::-webkit-scrollbar-corner {
    //     background-color: transparent;
    // }
    .dummy {
      width: 12px;
      height: 60px;
    }
  }
  .scroll-area {
    height: 100%;
    overflow-y: auto;
    pointer-events: auto;
    transform: translateZ(0);
  }


}
